# Terraform
.terraform/
*.tfstate*
*.tfstate.backup
## gitignore real values but keep the template
*.tfvars
!default.tfvars


# Tarballs and log files
*.zip
*.tar*
*.log

# Virtualenv, package dependencies, and pycache folders
.venv/
__pycache__/
